/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

.idea/

/public/images/artists/*.jpg
/public/images/artists/*.png
/public/images/artists/*.gif
/public/images/artists/*.bmp

/public/images/users/*.jpg
/public/images/users/*.png
/public/images/users/*.gif
/public/images/users/*.bmp
